﻿input.input_small {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

span.famous {
  display:none;
}

span.spell_master {
  display:none;
}

.age_master:before, .conqueror_master:before {
  display: none;
}

.age_master {
  color: inherit;
}

span.tt.tt_unit:after {
  display:none;
}

span.tt.tt_player:after {
  display:none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

table tbody tr td, table tr td {
  line-height: inherit;
  height: inherit;
}

.t_wrp {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  display: inline-block;
  align-items: inherit;
  padding-left:0.2em;
}

.conqueror_master {
  display:none;
}

a:not(.btn):not(.sortable):not(.sortable_sel), a:not(.btn):not(.sortable):not(.sortable_sel) font {
  color: #157199;
}

a:hover {
  text-decoration: underline;
}

.tt a:not(:hover) {
  text-decoration:none;
}

.boxed_label:checked + label {
  background: #134e0a;
  background: -webkit-linear-gradient(top, #134e0a 0%, #082105 50%);
  background: -moz-linear-gradient(top, #134e0a 0%, #082105 50%);
  background: -ms-linear-gradient(top, #134e0a 0%, #082105 50%);
  background: -o-linear-gradient(top, #134e0a 0%, #082105 50%);
  background: linear-gradient(top, #134e0a 0%, #082105 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff134e0a', endColorstr='#ff082105', GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff134e0a',endColorstr='#ff082105',GradientType=0);
  border: 1px inset #082105;
}
.boxed_label:hover + label {
  border: 1px inset #082105;
  background: #134e0a;
  background: -webkit-linear-gradient(top, #134e0a 0%, #082105 50%);
  background: -moz-linear-gradient(top, #134e0a 0%, #082105 50%);
  background: -ms-linear-gradient(top, #134e0a 0%, #082105 50%);
  background: -o-linear-gradient(top, #134e0a 0%, #082105 50%);
  background: linear-gradient(top, #134e0a 0%, #082105 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff134e0a', endColorstr='#ff082105', GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff134e0a',endColorstr='#ff082105',GradientType=0);
}